@font-face {
  font-family: "Karla";
  src: url("../src/assets/fonts/Karla-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Markazi";
  src: url("../src/assets/fonts/MarkaziText-VariableFont_wght.ttf");
}

:root {
  --primary-color-1: #495e57;
  --primary-color-2: #f4ce14;
  --secondary-color-1: #ee9972;
  --secondary-color-2: #fbdabb;
  --highlight-color-1: #edefee;
  --highlight-color-2: #333333;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 120ch;
  margin: 0 auto;
}

body {
  /* display: grid; */
  /* grid-template-rows: auto 1fr auto; */
  min-height: 100dvh;
  font-family: "Karla", Arial, Helvetica, sans-serif;
}

label {
  font-size: 16pt;
  font-weight: 500;
}

input,
select {
  min-height: 44px;
  padding: 0.5rem 1rem;
  border: 1px solid var(--primary-color-1);
  border-radius: 16px;
  font-family: inherit;
  font-size: 14pt;
  color: var(--primary-color-1);
}

.input-group {
  display: grid;
  margin-bottom: 0.75rem;

  &:has(.error-msg) :is(input, select) {
    border: 2px solid red;
  }
}

.error-msg {
  margin: 0.25rem 0 0;
  color: red;
}

h1 {
  font-family: "Markazi", "Times New Roman", Times, serif;
  font-size: 64pt;
  font-weight: 800;
}

h2 {
  margin: 0;
  font-family: "Markazi", "Times New Roman", Times, serif;
  font-size: 40pt;
  font-weight: 700;
  line-height: 1;
}

.title {
  margin: 0;
  color: var(--primary-color-2);
  line-height: 1;
}
.subtitle {
  margin: 0;
  font-family: "Markazi", "Times New Roman", Times, serif;
  font-size: 40pt;
  font-weight: 700;
  color: var(--highlight-color-1);
  line-height: 1;
}
h2 + .subtitle {
  font-size: 32pt;
  color: var(--secondary-color-1);
}

.lead-text {
  font-size: 18pt;
  font-weight: 500;
  color: var(--highlight-color-1);
  max-width: 40ch;
}

.section-title {
  margin: 1rem 0;
  font-weight: 800;
  font-size: 32pt;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  line-height: 1.5;
  max-width: 65ch;
  text-wrap: pretty;
}
span {
  font-weight: 500;
}

.card {
  position: relative;
  border-radius: 16px;
  background-color: var(--highlight-color-1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.card__img-wrapper {
  aspect-ratio: 3/2;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__content {
  display: grid;
  grid-template-areas:
    "title price"
    "description description"
    "link link";
  grid-template-columns: 1fr auto;
  padding: 0.5rem 1rem;
}
.card__title {
  margin: 0;
  grid-area: title;
  font-size: 16pt;
  font-weight: 700;
}

.card__price {
  grid-area: price;
  color: var(--secondary-color-1);
  font-size: 14pt;
}

.card__description {
  margin: 0.5rem 0;
  grid-area: description;
  color: var(--primary-color-1);
  font-size: 12pt;
}

.card__link {
  grid-area: link;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 12pt;
  color: #000000;
  text-decoration: underline;
  font-weight: 600;

  & .delivery-icon {
    display: inline-block;
    aspect-ratio: 1/1;
    width: 20px;
    height: 20px;
    background-color: currentColor;
    mask-image: url("../src/assets/delivery.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  min-height: 44px;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  border: none;
  border-radius: 16px;
  background-color: var(--primary-color-2);
  color: var(--primary-color-1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: inherit;
  font-weight: 600;
  font-size: 12pt;
  text-align: center;
  text-decoration: none;
  transition:
    background-color 0.1s ease-out,
    color 0.1s ease-out,
    transform 0.1s ease-out;
  cursor: pointer;

  &[disabled] {
    color: #edefee;
    background-color: #b3b3b3;
    cursor: not-allowed;
  }

  @media (hover: hover) {
    &:not([disabled]):hover {
      color: var(--primary-color-1);
      background-color: var(--highlight-color-1);
      transform: scale(1.05);
    }
  }

  &:not([disabled]):active {
    color: var(--highlight-color-1);
    background-color: var(--highlight-color-2);
    transform: scale(0.95);
  }
}

.logo-wrapper {
  position: relative;
}

.block-link::before {
  content: "";
  position: absolute;
  display: block;
  inset: 0;
  cursor: pointer;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.header-wrapper {
  display: flex;
  width: 100%;
  padding: 1rem 0.5rem;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  z-index: 1;

  @media (min-width: 768px) {
    width: auto;
  }
}

.menu-icon-wrapper,
.basket-icon-wrapper {
  @media (min-width: 768px) {
    display: none;
  }
  & button {
    display: grid;
    place-content: center;
    aspect-ratio: 1/1;
    min-height: 44px;
    min-width: 44px;
    border: none;
    border-radius: 4px;
    background-color: transparent;

    & span {
      display: block;
      aspect-ratio: 1/1;
      width: 32px;
      height: auto;
      background-color: var(--primary-color-1);
    }

    & .menu-icon {
      mask-image: url("../src/assets/hamburger.svg");
      mask-repeat: no-repeat;
      mask-size: contain;
    }

    & .basket-icon {
      mask-image: url("../src/assets/basket.svg");
      mask-repeat: no-repeat;
      mask-size: contain;
    }

    &:active {
      background-color: var(--primary-color-1);
      & > span {
        background-color: var(--highlight-color-1);
      }
    }
  }
}
nav {
  position: absolute;
  bottom: 100%;
  width: 100%;
  padding: 2rem 0.5rem;
  background-color: var(--highlight-color-1);
  transition:
    transform 0.3s ease-out,
    bottom 0.3s ease-out;

  & > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-direction: column;
    gap: 1rem;
  }

  & li {
    width: 100%;
  }

  & a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 44px;
    color: var(--primary-color-1);
    font-weight: 500;
    transition: transform 0.1s ease-out;

    @media (hover: hover) {
      &:hover {
        transform: translateY(-2px);
      }
    }
  }

  &.open {
    display: block;
    bottom: 0;
    transform: translateY(100%);
  }

  @media (min-width: 768px) {
    display: block;
    & > ul {
      flex-direction: row;
    }
  }
}

.hero {
  padding: 2rem 0.5rem;
  background-color: var(--primary-color-1);

  & .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }

  & .image-wrapper {
    aspect-ratio: 1/1;
    width: min(320px, 80vw);
    border-radius: 16px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media (min-width: 768px) {
    & .container {
      flex-direction: row;
    }

    & > div {
      flex: 1 1 0;
    }
  }
}

.specials {
  padding: 2rem 0.5rem 4rem;
}

.specials__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.specials__list {
  display: grid;
  grid-template-columns: 100%;
  gap: 1rem;
  margin-top: 2rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, calc((100% - 2rem) / 3));
    justify-content: center;
  }
}

.specials .card {
  min-width: min(320px, calc(50% - 1rem));
  flex: 1 1 0;
  transition: filter 0.3s ease-out;

  & a {
    transition: color 0.3s ease-out;
  }

  & img {
    transition: transform 0.3s ease-out;
  }

  @media (hover: hover) {
    &:hover {
      & a {
        color: var(--primary-color-1);
      }
      & img {
        transform: scale(1.05);
      }
    }
  }
}

@media (hover: hover) {
  :has(.specials .card:hover) .card:not(:hover) {
    filter: saturate(0);
  }
}

.testimonials {
  padding: 2rem 0.5rem 4rem;
  background-color: var(--highlight-color-1);

  & h2 {
    text-align: center;
  }
}
.testimonials__list {
  display: grid;
  grid-template-columns: min(fit-content, 100vw);
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0 0;

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
.testimonial {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "rating rating"
    "img user"
    "comment comment";
  padding: 1rem 1.5rem;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.testimonial__rating {
  grid-area: rating;
  font-weight: 500;
  color: var(--secondary-color-1);
}
.testimonial__img {
  grid-area: img;
}
.testimonial__user {
  grid-area: user;
}
.testimonial__comment {
  grid-area: comment;
  margin: 0;
  font-size: 12pt;
}

.chicago {
  padding: 2rem 0.5rem;

  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  & div {
    flex: 1;
  }

  & .description {
    font-size: 14pt;
  }

  & .images-overlay {
    padding: 6rem 8rem 0 0;
    position: relative;
    width: fit-content;
    max-width: calc(100vw - 1rem);
    height: fit-content;

    & .image-wrapper:nth-child(2) {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  & .image-wrapper {
    aspect-ratio: 4/5;
    width: min(240px, 80vw);
    border-radius: 16px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center right;
    }
  }

  @media (min-width: 768px) {
    & .container {
      flex-direction: row;
    }
  }
}

footer {
  padding: 2rem 0.5rem;
  background-color: var(--highlight-color-2);

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
  }

  .footer-logo {
    flex: 1 1 0;
    display: flex;
    justify-content: flex-end;
  }

  .footer-links {
    flex: 1 1 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: min(calc(100vw - 1rem), 320px);
    /* align-items: start; */
    /* justify-content: space-between; */
  }

  & h3 {
    margin: 0;
    color: var(--secondary-color-2);
  }

  & ul {
    list-style: none;
    padding: 0.5rem;
    margin: 0;
  }

  & li,
  a {
    display: block;
    color: var(--highlight-color-1);
    text-decoration: none;
    transition: transform 0.1s ease-out;

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
        transform: translateX(2px);
      }
    }

    &:active {
      color: var(--primary-color-2);
    }
  }

  @media (min-width: 768px) {
    & .container {
      flex-direction: row;
    }
    & .footer-links {
      grid-template-columns: repeat(3, 14ch);
      grid-template-rows: auto 1fr;
      grid-template-areas:
        "doormat contact social"
        "doormat contact social";
      gap: 0 1rem;

      & > div {
        display: grid;
        grid-template-rows: subgrid;
      }

      & > .doormat {
        grid-area: doormat;
      }

      & > .contact {
        grid-area: contact;
      }

      & > .social-media {
        grid-area: social;
      }
    }
  }
}

.booking-section {
  padding: 2rem 0.5rem;

  & .container {
    display: grid;
    place-content: center;
    grid-auto-columns: min(calc(100vw - 1rem), 320px);
  }
}
