@font-face {
  font-family: 'Karla';
  src: url("../src/assets/fonts/Karla-VariableFont_wght.ttf");
}
@font-face {
  font-family: 'Markazi';
  src: url("../src/assets/fonts/MarkaziText-VariableFont_wght.ttf");
}

:root {
  --primary-color-1: #495e57;
  --primary-color-2: #f4ce14;
  --secondary-color-1: #ee9972;
  --secondary-color-2: #fbdabb;
  --highlight-color-1: #edefee;
  --highlight-color-2: #333333;
}

body {
  font-family: 'Karla', Arial, Helvetica, sans-serif;
}

h1 {
  font-family: 'Markazi', 'Times New Roman', Times, serif;
  font-size: 64pt;
  font-weight: 800;
}
.subtitle {
  font-family: 'Markazi', 'Times New Roman', Times, serif;
  font-size: 40pt;
  font-weight: 700;
}

.lead-text {
  font-size: 18pt;
  font-weight: 600;
}

.section-title {
  font-weight: 800;
  font-size: 20pt;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  line-height: 1.5;
  max-width: 65ch;
}
span {
  font-weight: 500;
}

.card {
  border-radius: 16px;
  background-color: var(--highlight-color-1);
}
.card__title {
  font-size: 18pt;
  font-weight: 700;
}

.card__price {
  color: var(--secondary-color-1);
}

.card__description {
  color: var(--primary-color-1);
}

button {
  border-radius: 16px;
  background-color: var(--primary-color-2);
  color: var(--primary-color-1);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @media (min-width: 678px) {
    flex-direction: row;
  }
}

nav {
  & > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  @media (min-width: 678px) {
    flex-direction: row;
  }
}
