@font-face {
  font-family: "Karla";
  src: url("../src/assets/fonts/Karla-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Markazi";
  src: url("../src/assets/fonts/MarkaziText-VariableFont_wght.ttf");
}

:root {
  --primary-color-1: #495e57;
  --primary-color-2: #f4ce14;
  --secondary-color-1: #ee9972;
  --secondary-color-2: #fbdabb;
  --highlight-color-1: #edefee;
  --highlight-color-2: #333333;
}

body {
  font-family: "Karla", Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "Markazi", "Times New Roman", Times, serif;
  font-size: 64pt;
  font-weight: 800;
}

.title {
  margin: 0;
  color: var(--primary-color-2);
  line-height: 1.15;
}
.subtitle {
  margin: 0;
  font-family: "Markazi", "Times New Roman", Times, serif;
  font-size: 40pt;
  font-weight: 700;
  color: var(--highlight-color-1);
  line-height: 1.15;
}

.lead-text {
  font-size: 18pt;
  font-weight: 500;
  color: var(--highlight-color-1);
}

.section-title {
  font-weight: 800;
  font-size: 24pt;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  line-height: 1.5;
  max-width: 65ch;
}
span {
  font-weight: 500;
}

.card {
  border-radius: 16px;
  background-color: var(--highlight-color-1);
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}
/* .card__img {} */
.card__content {
  display: grid;
  grid-template-areas:
    "title price"
    "description description"
    "link link";
  grid-template-columns: 1fr auto;
  padding: 0.5rem 1rem;
}
.card__title {
  margin: 0;
  grid-area: title;
  font-size: 18pt;
  font-weight: 700;
}

.card__price {
  grid-area: price;
  color: var(--secondary-color-1);
}

.card__description {
  margin: 0.5rem 0;
  grid-area: description;
  color: var(--primary-color-1);
}

.card__link {
  grid-area: link;
  font-size: 16pt;
  color: #000000;
}

button {
  min-height: 44px;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 16px;
  background-color: var(--primary-color-2);
  color: var(--primary-color-1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: inherit;
  font-weight: 600;
  font-size: 12pt;
  transition:
    background-color 0.1s ease-out,
    color 0.1s ease-out,
    transform 0.1s ease-out;

  @media (hover: hover) {
    &:hover {
      color: var(--primary-color-1);
      background-color: var(--highlight-color-1);
      transform: scale(1.05);
    }
  }

  &:active {
    color: var(--highlight-color-1);
    background-color: var(--highlight-color-2);
    transform: scale(0.95);
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

nav {
  & > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
  }

  & a {
    color: var(--primary-color-1);
    font-weight: 500;
  }
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0.5rem;
  background-color: var(--primary-color-1);
  gap: 2rem;

  & button {
    display: block;
    margin: 0 auto;
  }

  & .image-wrapper {
    aspect-ratio: 1/1;
    width: min(320px, 80vw);
    border-radius: 16px;
    overflow: hidden;
    & img {
      width: 100%;
      height: auto;
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;

    & > div {
      flex: 1 1 0;
    }
  }
}

.specials {
  padding: 2rem 0.5rem 4rem;
}

.specials__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.specials__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }
}

.specials .card {
  min-width: calc(33% - (2rem / 3));
}

.testimonials {
  padding: 2rem 0.5rem 4rem;
  background-color: var(--highlight-color-1);

  & h2 {
    text-align: center;
  }
}
.testimonials__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

@media (min-width: 768px) {
  flex-direction: row;
}
}
.testimonial {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "rating rating"
  "img user"
  "comment comment";
  padding: 0.5rem 1rem;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}
.testimonial__rating {
  grid-area: rating;
}
.testimonial__img {
  grid-area: img;
}
.testimonial__user {
  grid-area: user;
}
.testimonial__comment {
  grid-area: comment;
  margin: 0;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 0;
  background-color: var(--primary-color-1);

  & h3 {
    margin: 0;
    color: var(--secondary-color-1);
  }

  & ul {
    list-style: none;
    padding: 0.5rem;
    margin: 0;
  }

  & a {
    color: var(--highlight-color-1);
  }

  @media (min-width: 768px) {
    flex-direction: row;
  }
}
